html {
    /*background-color:#80b3ff;*/
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../public/anh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

body {
    background-color: transparent;
}

.registration-form {
    padding: 5px 15%;
}

.registration-form form {
    width: 500px;
    border-radius: 10px;
    border: 20px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.registration-form form h3 {
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.registration-form .item {
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px 150px;
    padding-left: 100px;
}

.registration-form .create-account {
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: #3f93ff;
    border: none;
    color: white;
    margin-top: 20px;
}

@media (min-width: 100px) {
    .registration-form form {
        padding: -1px 20px;
    }
}